section { padding: 20px 50px;}
a{
  color: red;
  position:fixed;
  bottom: 10px; 
  left:15px;
}
footer{
  display: block; 
  border: 1px solid gray;
  margin-left: -0px;
  position:relative;
}
footer p{
  text-align:center;
  margin-top: 150px;
}
.fixed{
  color: blue;
  position: absolute;
  top: 0px;
  left: 6px;
}